.item-container {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3%;

  .image-container {
    height: 170px;
    width: 330px;
    border-radius: 3% 3% 0% 0%;

  }

  .image-container:hover {
    transform: scale(1.1);
    border-radius: 3%;
  }

  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
}
