.header-container {
  box-sizing: border-box;
  box-shadow: 0 4px 6px -6px #222;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .list-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: cursive;

    .shop-icon {
      width: 50px;
      height: 50px;
    }
  }
}

a:link {
  text-decoration: none !important;
}
