.header-container {
  box-sizing: border-box;
  box-shadow: 0 4px 6px -6px #222;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .list-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

a:link {
  text-decoration: none !important;
}
